.form{
    background-color:rgba(3, 3, 81, 0.752);
    opacity: 70%;
    /* opacity:50%; */
    width:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.input{
    margin:5% !important;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    width:40vh;
}
.input:hover{
    color: red !important;;
}
.header{
    color:white;
    font-family: sans-serif;
    font-variant: small-caps;
}
.button{
    margin-left: 40% !important;
    /* color:rgba(232, 232, 243, 0.752)e  !important; */
}
p{
    color:white !important;
}
.link{
    color:white;
    font-weight: bold;
}
.close{
    float: right;
}