.about_container{
    height:60vh;
    background-image: linear-gradient(to right,rgb(0, 0, 0) ,rgb(8, 28, 77),rgb(0, 0, 0) );
    color:black;
    padding:30vh 15vw 0 15vw;
}
.about{
    padding: 30px;
    margin-right:20vw;
    margin: 0 auto;
    border:2px solid white;
    border-radius: 5px;
    box-shadow: 5px 9px azure;
}

.about_p{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about h1{
    color:skyblue;
}