.customer_container{
    background-image: url("../Images/Customer-Service.jpg");
    background-size: cover;
    height:90vh;
}
.customer{
    float:right;
}
.customer_contact_container{
    padding:17vh 15vw 0 0;
}
.message{
    margin:5% !important;
    background-color: white;
    height:15vh;
    border-radius: 10px;
    width:20vw;
}